<!-- Site footer -->
<footer class="footer">
    <link rel="stylesheet" href="/static/css/telegram-theme.css">
    <link rel="stylesheet" href="/static/css/footer.css">

    <a href="/profile" class="footer-item" id="profile-link">
        <svg xmlns="http://www.w3.org/2000/svg"
             width="24" height="24" viewBox="0 0 24 24" fill="none"
             stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round"
             class="lucide lucide-paw-print-icon lucide-paw-print">
            <circle cx="11" cy="4" r="2"/>
            <circle cx="18" cy="8" r="2"/>
            <circle cx="20" cy="16" r="2"/>
            <path d="M9 10a5 5 0 0 1 5 5v3.5a3.5 3.5 0 0 1-6.84 1.045Q6.52 17.48 4.46 16.84A3.5 3.5 0 0 1 5.5 10Z"/>
        </svg>
        <span>Мои питомцы</span>
    </a>
    <a href="/reports" class="footer-item" id="reports-link">
        <svg xmlns="http://www.w3.org/2000/svg"
             width="24" height="24" viewBox="0 0 24 24" fill="none"
             stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round"
             class="lucide lucide-megaphone-icon lucide-megaphone">
            <path d="m3 11 18-5v12L3 14v-3z"/>
            <path d="M11.6 16.8a3 3 0 1 1-5.8-1.6"/>
        </svg>
        <span>Объявления</span>
    </a>
    <a href="/health" class="footer-item" id="health-link">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
             stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round"
             class="lucide lucide-heart-plus-icon lucide-heart-plus">
            <path d="M13.5 19.5 12 21l-7-7c-1.5-1.45-3-3.2-3-5.5A5.5 5.5 0 0 1 7.5 3c1.76 0 3 .5 4.5 2 1.5-1.5 2.74-2 4.5-2a5.5 5.5 0 0 1 5.402 6.5"/>
            <path d="M15 15h6"/><path d="M18 12v6"/>
        </svg>
        <span>Здоровье</span>
    </a>
    <a href="/reminders" class="footer-item" id="reminders-link">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
             stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round"
             class="lucide lucide-bell-ring-icon lucide-bell-ring">
            <path d="M10.268 21a2 2 0 0 0 3.464 0"/>
            <path d="M22 8c0-2.3-.8-4.3-2-6"/>
            <path d="M3.262 15.326A1 1 0 0 0 4 17h16a1 1 0 0 0 .74-1.673C19.41 13.956 18 12.499 18 8A6 6 0 0 0 6 8c0 4.499-1.411 5.956-2.738 7.326"/>
            <path d="M4 2C2.8 3.7 2 5.7 2 8"/>
        </svg>
        <span>Напоминания</span>
    </a>

    <script src="/static/js/footer_active_links.js"></script>
    <script>
        setActiveFooterItem();
    </script>
</footer>
</footer>
