{% extends 'base.html' %}

{% block title %}
    Dog Alert Mini App
{%  endblock %}

{% block body %}
    <h1>Добро пожаловать!</h1>
    <p>Это мини-приложение Telegram.</p>
    <p>Чтобы продолжить, тебе необходимо принять пользовательское соглашение</p>
    <a href="/agreement/" class="btn btn-primary">Соглашение</a>

<script src="/static/js/tg_initData.js"></script>
<script>
    checkUser();
</script>
{% endblock %}

{% block footer %}
    {% include "components/footer_for_agreement.html" %}
{% endblock %}
