{% extends 'base.html' %}

{% block title %}
    Регистрация
{% endblock %}

{% block body %}
    <h1>Регистрация для tg_id = {{ telegram_id }}</h1>
    <form method="POST" action="/registration/2?initData={{ initData | urlencode }}">
        <div class="form-group">
            <label for="first_name">Имя</label>



            <input type="text" class="form-control" id="first_name" name="first_name" value="{{ first_name }}" placeholder="Введите имя">
            {% if errors %}
                <div class="text-danger">
                    {% for error in errors %}
                        {% if error['loc'][0] == 'first_name' %}
                            <p>{{ error['msg'] }}</p>
                        {% endif %}
                    {% endfor %}
                </div>
            {% endif %}
        </div>
        <div class="form-group">
            <label for="last_name">Фамилия</label>
            <input type="text" class="form-control" id="last_name" name="last_name" value="{{ last_name }}" placeholder="Введите фамилию">
            {% if errors %}
                <div class="text-danger">
                    {% for error in errors %}
                        {% if error['loc'][0] == 'last_name' %}
                            <p>{{ error['msg'] }}</p>
                        {% endif %}
                    {% endfor %}
                </div>
            {% endif %}
        </div>
        <div class="form-group">
            <label for="phone">Телефон</label>
            <input type="text" class="form-control" id="phone" name="phone" value="{{ phone }}" placeholder="Введите телефон">
            {% if errors %}
                <div class="text-danger">
                    {% for error in errors %}
                        {% if error['loc'][0] == 'phone' %}
                            <p>{{ error['msg'] }}</p>
                        {% endif %}
                    {% endfor %}
                </div>
            {% endif %}
        </div>
        <div class="form-group">
            <label for="region">Регион</label>
            <input type="text" class="form-control" id="region" name="region" value="{{ region }}" placeholder="Введите регион">
            {% if errors %}
                <div class="text-danger">
                    {% for error in errors %}
                        {% if error['loc'][0] == 'region' %}
                            <p>{{ error['msg'] }}</p>
                        {% endif %}
                    {% endfor %}
                </div>
            {% endif %}
        </div>
        <div style="margin-top: 15px">
            <button type="submit" class="btn btn-success">Зарегистрироваться</button>
        </div>
    </form>
    <br>
    <br>
    <div style="margin-top: 20px">
        <a href="/" class="btn btn-primary">Назад</a>
    </div>
{% endblock %}

{% block footer %}
    {% include "components/unclickable_footer.html" %}
{% endblock %}
