<img src="{{ user_photo_url }}" alt="{{ user.username }}" class="profile-avatar">
<div class="form-container">
    <div class="form-group">
        <form id="updateForm" data-user-id="{{ user.id }}">
            <div>
                <label for="userFirstName" class="form-label">Имя</label>
                <input type="text" class="form-control" id="userFirstName" name="userFirstName" value="{{ user.first_name }}">
                <div class="invalid-feedback" id="error-userFirstName"></div>
            </div>
            <div>
                <label for="userLastName" class="form-label">Фамилия</label>
                <input type="text" class="form-control" id="userLastName" name="userLastName" value="{{ user.last_name }}">
                <div class="invalid-feedback" id="error-userLastName"></div>
            </div>
            <div>
                <label for="userPhone" class="form-label">Телефон</label>
                <input type="tel" class="form-control" id="userPhone" name="userPhone" value="{{ user_phone }}">
                <div class="invalid-feedback" id="error-userPhone"></div>
            </div>
            <div class="text-center">
                <button type="submit" class="btn btn-primary" id="submitBtn" disabled>Обновить</button>
            </div>
        </form>
    </div>
</div>