{% extends 'base.html' %}

{% block title %}
    Настройки профиля
{% endblock %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="/static/css/user/settings.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css">
{% endblock %}

{% block body %}
<div class="container">
    <h2 class="section-title">Настройки профиля</h2>

    <a href="/users/profile/{{ user.id }}" class="profile-link">
        📋 Посмотреть как выглядит мой профиль
    </a>

    <div class="card">
        <h2>Мои данные</h2>
        {% include "user/components/edit_profile.html" %}
    </div>

    <div class="card">
        <h2>Моя локация</h2>
        {% include "user/components/geo_location.html" %}
    </div>

    <div class="card">
        <h2>Настройки уведомлений</h2>
        {% include "user/components/notifications.html" %}
    </div>
</div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
    <script src="/static/js/updateUser.js"></script>
    <script src="/static/js/updateLocation.js"></script>
    <script src="/static/js/updateFilterType.js"></script>
{% endblock %}

{% block tg_button %}
    <script src="/static/js/backButtonController.js"></script>
    <script>
        setupBackButton(true, '/profile');
    </script>
{% endblock %}

{% block footer %}
    {% include "components/footer.html" %}
{% endblock %}