{% extends 'base.html' %}

{% block title %}
    Объявления
{%  endblock %}

{% block head %}
<link rel="stylesheet" href="/static/css/menu/reports.css">
{% endblock %}

{% block body %}
<div class="container-fluid px-0">

  <div class="add-report-container">
    <a href="reports/create_report" class="add-report-link">
      <div class="add-report-card">
        <span class="add-icon">➕</span>
        <span class="add-text">Создать объявление</span>
      </div>
    </a>
  </div>

  <h2 class="section-title">Мои объявления</h2>

  <div class="report-card-list">
    {% for report in reports %}
    <a href="/reports/?id={{ report.id }}" class="report-card-link">
      <div class="report-card">
        <img src="{{ report.photo_url or '/static/images/image.jpg' }}" alt="Фото объявления" class="report-image">
        <div class="report-content">
          <h5 class="report-title">{{ report.title }}</h5>
          <p class="report-description">{{ report.content }}</p>
          <div class="report-meta">
            <span class="region">Регион: {{ report.region }}</span>
            <span class="location">Локация: {{ report.location }}</span>
            <span class="badge"
              style="font-size: 15px; margin-top: 10px;
                background-color:
                {% if report.status == 'active' %}#007bff
                {% elif report.status == 'found' %}#28a745
                {% elif report.status == 'cancelled' %}#dc3545
                {% else %}
                {% endif %};">
              {% if report.status == "active" %}Активно
              {% elif report.status == "found" %}Питомец найден
              {% elif report.status == "cancelled" %}Отменено
              {% else %}
              {% endif %}
            </span>
          </div>
        </div>
      </div>
    </a>
    {% endfor %}
  </div>

</div>
{% endblock %}

