{% extends 'base.html' %}

{% block title %}
    Соглашение
{%  endblock %}

{% block head %}
    {{ super() }}
{% endblock %}

{% block body %}
<h1>Согласие на обработку данных</h1>
    <p>Прикрепленный документ</p>
    <br>
    <br>
    <a href="/registration?initData={{ initData | urlencode }}" class="btn btn-primary">Принять соглашение</a>
    <div style="margin-top: 10px">
        <a href="/" class="btn btn-primary">Назад</a>
    </div>
    <p>TG id: {{ telegram_id }}</p>

{% endblock %}

{% block footer %}
    {% include "components/unclickable_footer.html" %}
{% endblock %}

