{% extends 'base.html' %}

{% block title %}
    Регистрация
{% endblock %}

{% block body %}
    <h1>Регистрация</h1>

    <br>
    <img src="{{ telegram_user.photo_url }}" alt="Аватар" style="width: 100px; height: 100px; border-radius: 50%;">
    <div class="form-container mt-4">
        <div class="form-group mb-4">
            <h3>Telegram ID = {{ telegram_user.id }}</h3>
            <form id="registrationForm" data-initdata="{{ initData }}">
                <div style="margin-top: 2px">
                    <label for="userFirstName" class="form-label" style="margin-bottom: 5px">Имя</label>
                    <input type="text" class="form-control" id="userFirstName" name="userFirstName" placeholder="Введите имя" required>
                    <div class="invalid-feedback" id="error-userFirstName"></div>
                </div>
                <div style="margin-top: 2px">
                    <label for="userLastName" class="form-label" style="margin-bottom: 5px">Фамилия</label>
                    <input type="text" class="form-control" id="userLastName" name="userLastName" placeholder="Введите фамилию" required>
                    <div class="invalid-feedback" id="error-userLastName"></div>
                </div>
                <div style="margin-top: 2px">
                    <label for="userPhone" class="form-label" style="margin-bottom: 5px">Телефон</label>
                    <input type="tel" class="form-control" id="userPhone" name="userPhone" placeholder="+79012345678" required>
                    <div class="invalid-feedback" id="error-userPhone"></div>
                </div>
                <div class="text-center mt-3">
                    <button type="submit" class="btn btn-primary" id="submitBtn" disabled>Зарегистрироваться</button>
                </div>
            </form>
        </div>
    </div>
    <div style="margin-top: 20px">
        <a href="/" class="btn btn-primary">Назад</a>
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="/static/js/userRegister.js"></script>
{% endblock %}

{% block footer %}
    {% include "components/unclickable_footer.html" %}
{% endblock %}
